<a href="https://colab.research.google.com/github/harinimadura06/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = 5445
temp = num
reverse = 0
while temp > 0:
  remainder = temp % 10
  reverse = (reverse * 10) + remainder
  temp = temp // 10
if num == reverse:
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

In [2]:
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end="")
for i in range(2, num):
  n3 = n1 + n2
  n1 = n2
  n2 = n3
  print(n3, end="")

print()

Fibonacci Series: 0 112358132134

In [3]:
n = 22
if n<=12:
  print("child")
elif n>=13 and n<=19:
  print("Teenager")
elif n>=20 and n<=59:
  print("Adult")
else:
  print("senior citizen")

Adult

In [4]:
n = 2005
if n%4==0 and n%100!=0 or n%400==0:
  print("Leap year")
else:
  print("not a leap year")

not a leap year